/* Estilos globales / Generales */
:root {
    --electric-blue: #1A374D;
    --soft-blue: #406882;
    --gray-blue: #6998AB;
    --sky-blue: #B1D0E0;
    --blue0: #2C74B3;
    --blue1: #276678;
    --blue2: #1687A7;
    --white0: #D3E0EA;
    --white1: #F6F5F5;
    --blue3: #256D85;
    --blue4: #22577E;
    --blue5: #5584AC;
    --blue6: #205E61;
    --green0: #95D1CC;
    --white2: #F6F2D4;
    --white3: #D8E3E7;
    --small: 14px;
    --medium: 16px;
    --large: 18px;
    --nav-height: 60px;
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-size: var(--small);
    background-color: var(--electric-blue);
    color: var(--sky-blue);
}
.inactive {
    display: none;
}

/* Navbar general */
header {
    height: var(--nav-height);
}
nav {
    display: grid;
    grid-template-columns: auto auto;
    height: 60px;
    background-color: var(--electric-blue);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--gray-blue);
}

/* Nombre y foto */
.main-nav {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 30px;
}
#facetop {
    padding: 5px;
    margin: 0;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
#facetop img {
    border-radius: 50%;
}
#facetop:hover {
    background-color: var(--soft-blue);
}
nav .main-nav #nametop {
    height: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}
nav .main-nav #nametop:hover {
    background-color: var(--soft-blue);
}
nav .main-nav #nametop img {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* Opciones de contacto */
#options-nav {
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    justify-self: end;
}
.keywords {
    border: 0;
    font-size: var(--medium);
    font-family: 'Ubuntu', sans-serif;;
    background-color: var(--electric-blue);
    color: var(--sky-blue);
    height: 100%;
    margin: 0 5px;
    padding: 0 5px;
}
.keywords:hover {
    background-color: var(--soft-blue);
}

/* Cuerpo */
.main-content {
    margin: 16px 16px 0;
}
/* .home-screen {
    background-color: yellow;
}
.about-me-screen {
    background-color: green;
}
.blog-screen {
    background-color: red;
}
.social-media-screen {
    background-color: blue;
} */

@media (max-width: 800px) {
    header {
        height: 100%;
    }
    nav {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        position: initial;
        height: 100%;
    }
    .main-nav {
        justify-content: center;
        padding: 5px 5px 0;
    }
    #options-nav {
        width: 100%;
        justify-content: center;
    }
    .keywords {
        padding: 5px;
        border-radius: 5px;
    }

}

